.page__logo-inner:after {
    content: "]";
    color: var(--bg);
}

.paper {
    text-decoration: none;
}

.headshot__image {
    border-radius: 20px;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.person__grid {
    column-width: 200px;
}

.post {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    column-break-inside: avoid;
}
